* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	border: 0;
	outline: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    width: 0px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    color: black;
    font-family: "Work Sans", "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pageBox{
    display: none;
    position: relative;
    margin: 50px auto;
    width: 800px;
}
.fixedBox {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}
button {
    display: block;
    position: relative;
    margin: 25px auto;
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background-color: #9D8F8F;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    outline: none;
    color: black;
    cursor: pointer;
}
button:hover {
    background: #625757;
    color: #f9f9f9;
}
button:active {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
.warning {
    display: none;
    padding: 30px 0;
    color: #380000;
}
.small-dim {
    color: #222222;
    font-size: 18px;
    line-height: 36px;
}

/* #### ##    ##  ######  ######## ########  ##     ##  ######  ######## ####  #######  ##    ##  ######   */
/*  ##  ###   ## ##    ##    ##    ##     ## ##     ## ##    ##    ##     ##  ##     ## ###   ## ##    ##  */
/*  ##  ####  ## ##          ##    ##     ## ##     ## ##          ##     ##  ##     ## ####  ## ##        */
/*  ##  ## ## ##  ######     ##    ########  ##     ## ##          ##     ##  ##     ## ## ## ##  ######   */
/*  ##  ##  ####       ##    ##    ##   ##   ##     ## ##          ##     ##  ##     ## ##  ####       ##  */
/*  ##  ##   ### ##    ##    ##    ##    ##  ##     ## ##    ##    ##     ##  ##     ## ##   ### ##    ##  */
/* #### ##    ##  ######     ##    ##     ##  #######   ######     ##    ####  #######  ##    ##  ######   */

#instrBox {
    display: block;
}
#instrImg, #instrVid {
    display: none;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}
#instrVid {
    width: 250px;
}

/*  ######   #######  ##    ##  ######  ######## ##    ## ########  */
/* ##    ## ##     ## ###   ## ##    ## ##       ###   ##    ##     */
/* ##       ##     ## ####  ## ##       ##       ####  ##    ##     */
/* ##       ##     ## ## ## ##  ######  ######   ## ## ##    ##     */
/* ##       ##     ## ##  ####       ## ##       ##  ####    ##     */
/* ##    ## ##     ## ##   ### ##    ## ##       ##   ###    ##     */
/*  ######   #######  ##    ##  ######  ######## ##    ##    ##     */

.consentInstr {
    font-size: 20px;
    line-height: 60px;
}
.formArea {
    margin: 10px auto 0px;
    padding: 20px;
    width: 95%;
    height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: auto;
    font-size: 16px;
    line-height: 25px;
    background: #a4b9b9;
}
.formArea::-webkit-scrollbar {
    width: 5px;
}
.formArea::-webkit-scrollbar-thumb {
    background: rgb(134, 134, 134);
}

/* ########    ###     ######  ##    ##  */
/*    ##      ## ##   ##    ## ##   ##   */
/*    ##     ##   ##  ##       ##  ##    */
/*    ##    ##     ##  ######  #####     */
/*    ##    #########       ## ##  ##    */
/*    ##    ##     ## ##    ## ##   ##   */
/*    ##    ##     ##  ######  ##    ##  */

#taskBox {
    top: 100px;
	margin: 20px auto;
    overflow-x: none;
}
#stimuliBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#stimuliBox .vid {
    width: 250px;
    margin: 10px;
}
#stimuliBox .vid:hover {
    cursor: pointer;
    border: solid black;
}
#prompt {
    text-align: center;
}

/* .optionBox {

} */
.responseBut {
    display: none;
    width: 100px;
}

/*  #######  ##     ## ########  ######  ######## ####  #######  ##    ##  ######   */
/* ##     ## ##     ## ##       ##    ##    ##     ##  ##     ## ###   ## ##    ##  */
/* ##     ## ##     ## ##       ##          ##     ##  ##     ## ####  ## ##        */
/* ##     ## ##     ## ######    ######     ##     ##  ##     ## ## ## ##  ######   */
/* ##  ## ## ##     ## ##             ##    ##     ##  ##     ## ##  ####       ##  */
/* ##    ##  ##     ## ##       ##    ##    ##     ##  ##     ## ##   ### ##    ##  */
/*  ##### ##  #######  ########  ######     ##    ####  #######  ##    ##  ######   */

.question {
    margin: 50px 0;
}
.option {
    position: relative;
    margin: 10px 0;
    padding: 7px;
    width: 100%;
    border-radius: 8px;
    background: rgb(194, 194, 194);
    cursor: pointer;
}
.option:hover {
    background: rgb(218, 218, 218);
}
.radio {
    position: absolute;
    margin: 0;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.option-text {
    position: relative;
    left: 28px;
    width: calc(100% - 28px);
}
input[type='number'],
textarea {
    background-color: #f5f5f5;
    padding: 5px;
    margin: 10px 0;
    border: solid;
}
#comments, #problems {
    width: 100%;
    height: 100px;
}
#age {
    width: 50px;
    height: 28px;
}

/* ########  ######## ########  ########  #### ######## ######## #### ##    ##  ######    */
/* ##     ## ##       ##     ## ##     ##  ##  ##       ##        ##  ###   ## ##    ##   */
/* ##     ## ##       ##     ## ##     ##  ##  ##       ##        ##  ####  ## ##         */
/* ##     ## ######   ########  ########   ##  ######   ######    ##  ## ## ## ##   ####  */
/* ##     ## ##       ##     ## ##   ##    ##  ##       ##        ##  ##  #### ##    ##   */
/* ##     ## ##       ##     ## ##    ##   ##  ##       ##        ##  ##   ### ##    ##   */
/* ########  ######## ########  ##     ## #### ######## ##       #### ##    ##  ######    */

#debriefingBox{
	margin: 80px auto;
}
.debriefingArea {
	margin: 30px 0 0 0;
}