p {
    top: 20px;
    color:black;
    text-align: center;
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
}

#h {
    height: 3%;
    margin-top: 30px;
}

.background {
    background-color: rgb(178, 178, 178);
}

div {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    color: black;
    font-weight: bolder;
    text-align: center;
    background-color:white;
    width: 110px;
    height: 32px;
    border-radius: 3px;
    font-size: 17px;

    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.selection {
    color: black;
    font-weight: bolder;
    text-align: center;
    background-color:white;
    width: 110px;
    height: 32px;
    border-radius: 3px;
    font-size: 16;

    margin-top: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.selection:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

#v {
    height: 48%;
    margin-top: 15px;
}

#vid {
    margin-top: 25px;
    position: relative;
    align-items: center;
}

#vid:hover {
    cursor: pointer;
    border: solid 2px black;
}

#comment {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 15;
    vertical-align: top;
    width: 450px;
    height: 150px;
    margin-top: 26px;
    margin-left: 140px;
}

#submitButton {
    margin-top: 143px;
    margin-left: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	border: 0;
	outline: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    width: 0px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #BCBAB8;
    color: black;
    font-family: "Work Sans", "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pageBox{
    display: none;
    position: relative;
    margin: 50px auto;
    width: 1000px;
}
.fixedBox {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

button:active {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
.warning {
    display: none;
    padding: 30px 0;
    color: #380000;
}
.small-dim {
    color: #222222;
    font-size: 18px;
    line-height: 36px;
}

/* #### ##    ##  ######  ######## ########  ##     ##  ######  ######## ####  #######  ##    ##  ######   */
/*  ##  ###   ## ##    ##    ##    ##     ## ##     ## ##    ##    ##     ##  ##     ## ###   ## ##    ##  */
/*  ##  ####  ## ##          ##    ##     ## ##     ## ##          ##     ##  ##     ## ####  ## ##        */
/*  ##  ## ## ##  ######     ##    ########  ##     ## ##          ##     ##  ##     ## ## ## ##  ######   */
/*  ##  ##  ####       ##    ##    ##   ##   ##     ## ##          ##     ##  ##     ## ##  ####       ##  */
/*  ##  ##   ### ##    ##    ##    ##    ##  ##     ## ##    ##    ##     ##  ##     ## ##   ### ##    ##  */
/* #### ##    ##  ######     ##    ##     ##  #######   ######     ##    ####  #######  ##    ##  ######   */

#instrBox {
    display: block;
}
#instrImg, #instrVid {
    display: none;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}
#instrVid {
    width: 300px;
}
#instrText {
    text-align: left;
}

/*  ######   #######  ##    ##  ######  ######## ##    ## ########  */
/* ##    ## ##     ## ###   ## ##    ## ##       ###   ##    ##     */
/* ##       ##     ## ####  ## ##       ##       ####  ##    ##     */
/* ##       ##     ## ## ## ##  ######  ######   ## ## ##    ##     */
/* ##       ##     ## ##  ####       ## ##       ##  ####    ##     */
/* ##    ## ##     ## ##   ### ##    ## ##       ##   ###    ##     */
/*  ######   #######  ##    ##  ######  ######## ##    ##    ##     */

.consentInstr {
    text-align: left;
    font-size: 20px;
    line-height: 60px;
}
#consentBox{
    text-align: left;
}
.formArea {
    margin: 10px auto 0px;
    padding: 20px;
    width: 95%;
    height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: auto;
    font-size: 16px;
    line-height: 25px;
    background: #a4b9b9;
    text-align: left;
}
.formArea::-webkit-scrollbar {
    width: 5px;
}
.formArea::-webkit-scrollbar-thumb {
    background: rgb(134, 134, 134);
}

/* ########    ###     ######  ##    ##  */
/*    ##      ## ##   ##    ## ##   ##   */
/*    ##     ##   ##  ##       ##  ##    */
/*    ##    ##     ##  ######  #####     */
/*    ##    #########       ## ##  ##    */
/*    ##    ##     ## ##    ## ##   ##   */
/*    ##    ##     ##  ######  ##    ##  */

#taskBox {
    top: 50px;
	margin: 20px auto;
    overflow-x: none;
}
#stimuliBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#stimuliBox .vid {
    width: 300px;
    margin: 10px;
}
/*
#stimuliBox .vid:hover {
    cursor: pointer;
    /*border: solid black; 
}*/
#progress, #prompt {
    text-align: center;
}

/* .optionBox {
} */
.responseBut {
    display: none;
    width: 100px;
}

.buffer {
    display: none;
}

/*  #######  ##     ## ########  ######  ######## ####  #######  ##    ##  ######   */
/* ##     ## ##     ## ##       ##    ##    ##     ##  ##     ## ###   ## ##    ##  */
/* ##     ## ##     ## ##       ##          ##     ##  ##     ## ####  ## ##        */
/* ##     ## ##     ## ######    ######     ##     ##  ##     ## ## ## ##  ######   */
/* ##  ## ## ##     ## ##             ##    ##     ##  ##     ## ##  ####       ##  */
/* ##    ##  ##     ## ##       ##    ##    ##     ##  ##     ## ##   ### ##    ##  */
/*  ##### ##  #######  ########  ######     ##    ####  #######  ##    ##  ######   */

.bold {
    text-align: left;
}
.question {
    margin: 50px 0;
}
.option {
    position: relative;
    margin: 10px 0;
    padding: 7px;
    width: 100%;
    border-radius: 8px;
    background: rgb(194, 194, 194);
    cursor: pointer;
    text-align: left;
}
.option:hover {
    background: rgb(218, 218, 218);
}
.radio {
    position: absolute;
    margin: 0;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    text-align: left;
    align-items: left;
}
.option-text {
    text-align: left;
    position: relative;
    top: 0px;
    left: 30px;
    width: calc(100% - 28px);
}
input[type='number'],
textarea {
    background-color: #f5f5f5;
    padding: 5px;
    margin: 10px 0;
    border: solid;
}
#comments, #problems {
    width: 100%;
    height: 100px;
}
#age {
    width: 50px;
    height: 28px;
}

/* ########  ######## ########  ########  #### ######## ######## #### ##    ##  ######    */
/* ##     ## ##       ##     ## ##     ##  ##  ##       ##        ##  ###   ## ##    ##   */
/* ##     ## ##       ##     ## ##     ##  ##  ##       ##        ##  ####  ## ##         */
/* ##     ## ######   ########  ########   ##  ######   ######    ##  ## ## ## ##   ####  */
/* ##     ## ##       ##     ## ##   ##    ##  ##       ##        ##  ##  #### ##    ##   */
/* ##     ## ##       ##     ## ##    ##   ##  ##       ##        ##  ##   ### ##    ##   */
/* ########  ######## ########  ##     ## #### ######## ##       #### ##    ##  ######    */

#debriefingBox{
	margin: 80px auto;
}
.debriefing-area {
	margin: 30px 0 0 0;
    text-align: left;
}
.instructions {
    text-align: left;
}
